/*欢迎大家多多指出不足，感谢您的支持*/






/******************************************************************************

下面是全局样式，由于时间比较短，所以没有做很详细的规划

******************************************************************************/
*{
	margin:0px;
	padding: 0px;
}
body {
  	font-family: "STXihei", Arial,Microsoft YaHei , Helvetica;
  	color: #393a3a;
}
a{
	color: #393a3a;
	text-decoration: none;
}


/*以下是导航栏样式*/
#nav{
	position: fixed;
	z-index: 5;
	top:0px;
	width: 100%;
	height: 56px;
	background-color: white;
}
.middle{
	width: 1280px;
	height: 56px;
	padding-top:15px;
	margin:0 auto;
}
#web-name{
	display: inline-block;
	margin:0px 100px;
	font-size: 18px;
	vertical-align:top;/*用于把web-name元素行内顶部对齐*/
}
#web-name span{
	font-size:24px;
	vertical-align:20%;/*用于把新世界这几个字和logo对齐*/
}
#nav-container{
	display: inline-block;
	margin-left: 380px;
/*	float: right;
	margin-right: 50px;*/
}
#nav-container ul li{
	float: left;
	padding: 0px 15px 17px 15px;
	margin:0px 5px 0px 5px;
	list-style-type:none;
}
#nav-container ul li:hover{
	color:#e74f4d;
	border-bottom: 3px solid #e74f4d;
}
.login{
	color: #e74f4d;
}
.login img{
	vertical-align:-15%;
}

/*以下为最大那张图片介绍*/
#column-1{
	position: relative;
	min-width: 1280px;
	height: 700px;
	margin: 40px auto 0px auto;
}
.background-img{
	position: absolute;
	z-index: 0;
	width: 1280px;
	height: 700px;
	background:url(../images/banner.jpg);
}
/*从设计图得到的背景图片是偏亮的，设计师用一个黑色背景+0.2透明度变暗以突显文字亮度。
因此这里用了两个div（background-img和text-box），下面的div是放背景图片，上面的div是放文字和黑色背景*/
#text-box{
	position: absolute;
	z-index: 1;
	width: 1165px;
	height: 475px;
	padding:225px 0px 0px 115px;
	color: white;
  	background:rgba(0,0,0,0.2);/*定义背景颜色为黑色，透明度为0.2*/
}
#text-box h1,p{
	margin-bottom: 20px;
}
#text-box h1{
	font-size: 50px;
}
#start{
	width: 320px;
	height: 70px;
	padding:10px 40px;
	margin-top: 100px;
	color: white;
	font-size: 30px;
	background-color:  #e74f4d;
	border-width: 0px;
}


/*以下是第二块内容的样式*/
#column-2{
	width: 1280px;
	height: 250px;
	margin:0 auto;
    	word-spacing: -4px;/*对抗display:inline-block的间距问题*/
	/*background-color: red;*/
}
.col-2-content{
	display: inline-block;
	width: 320px;
	height: 250px;
	margin:-0px;
    	/*word-spacing: 0;*/
	/*background-color: blue;*/
}
#icon-1{
	background:url(../images/icon-ripple.png);
}
#icon-2{
	background:url(../images/icon-flag.png);
}
#icon-3{
	background:url(../images/icon-flower.png);
}
#icon-4{
	background:url(../images/icon-square.png);
}
#icon-1:hover,#icon-2:hover,#icon-3:hover,#icon-4:hover{
	transform:rotate(360deg);
	-webkit-transform:rotate(360eg); 
	-moz-transform:rotate(360eg); 
	-ms-transform:rotate(360eg); 
	-o-transform:rotate(360eg); 
}
.icon{
	width: 40px;
	height: 40px;
	margin:40px auto;
	transform:rotate(-360deg);
	-webkit-transform:rotate(-360deg); 
	-moz-transform:rotate(-360deg); 
	-ms-transform:rotate(-360deg); 
	-o-transform:rotate(-360deg); 

  	transition:transform 0.5s ease;
	-webkit-transition:transform 0.5s ease;
  	-moz-transition:transform 0.5s ease;
	-o-transition:transform 0.5s ease;
}
.text{
	width: 180px;
	height: 50px;
	margin:60px auto;
	text-align:center;
}
.text-container{
	border-right: 1px solid black;
}

/*以下是第三块内容的样式*/
#column-3{
	width: 100%;
	min-width: 1280px;
	height: 260px;
	padding-top:100px;
	background-color: #ededec;
}
#col-3-icon{
	width: 90px;
	height: 90px;
	margin:0px auto;
	background:url(../images/icon-books.png);
}
.col-3-text{
	width: 840px;
	margin:20px auto;
}
.col-3-text h1{
	font-size: 50px;
}



/*以下是栏目四的内容*/
#column-4{
   width: 1280px;
   height: 340px;
   margin:0 auto;
   background:url(../images/map.jpg)no-repeat;
   overflow:hidden;
}
.col-4-text{
   width: 600px;
   padding:50px 0px 50px 0px ;
   margin:0px auto;
   color: white;
   text-align: center;
}
.col-4-text p{
   margin-top:30px;
}
.col-4-form{
   width: 1030px;
   margin:0 auto;
}
.col-4-form form select {
   width: 268px;
   padding: 5px;
   font-size: 16px;
   height: 34px;
   /*background: transparent;*/
   background: white;
   -webkit-appearance: none; /*for chrome*/
   -moz-appearance: none; /*for chrome*/
   -ms-appearance: none; /*for chrome*/
   -o-appearance: none; /*for chrome*/
   width: 240px;
   height: 34px;
   overflow: hidden;
   	/*border: 1px solid #e74f4d;*/
   background: url(../images/drag.png) no-repeat right white;
}
.col-4-form form select :active{
   	border: 1px solid #e74f4d;
}
.col-4-form form input{
	width:268px;
	height: 35px;
	color: white;
	font-size:14px;
	vertical-align:top;
	background-color: #e74f4d;
   	border: 0px solid #e74f4d;
}

/*以下是栏目五的内容*/
#column-5{
	width: 100%;
	min-width: 1280px;
	height: 600px;
	background-color: #f7f7f7;
}
.center{
	width: 1054px;
	margin: 0 auto;
}
.col-5{
	display: inline-block;


	vertical-align: top;
	width: 220px;
	height: auto;
	margin:100px 20px 0px 20px;
}
.col-5-img{
	width: 200px;
	height: auto;
	padding:10px 10px 10px 10px;
	background-color: white;
	border:1px solid #dcd9d7;
}
.col-5-text{
	width: 220px;
	height: 50px;
	padding: 10px 0px;
	text-align: center;
}
.col-5-big h2{
	margin-left: 15px;
	text-align: center;
	letter-spacing:22px;
}



/*以下是栏目六的内容*/
#column-6{
	width: 100%;
	height: auto;
    	word-spacing: -4px;/*对抗display:inline-block的间距问题*/
	height: 567px;
}
.col-6-1{
	display: inline-block;
	width: 850px;
}
.col-6-center{
	width: 1280px;
	margin:0 auto;
}
.col-6-2{
	display: inline-block;
	width:430px;
	height: 567px;
	vertical-align: top;
}
.col-6-2 h3{
	text-align: center;
	margin-bottom: 10px;
}
.col-6-2 h3,p{
	line-height:2;
}
.col-6-2 h3 span{
	color:#e74f4d;
}
.col-6-2-cover{
	width: 300px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}
.col-6-2-container{
	width: 900px;
	height: 400px;
}
.col-6-2-container a{
	float: left;
	width: 300px;
	height: 300px;
	padding-top: 100px;
}
.col-6-2-button{
	display: block;
	width: 100px;
	height: 30px;
	padding:5px 18px 5px 18px;
	margin:10px auto 0px auto;
	color:#e74f4d;
	background-color: white;
	border: 1px solid #e74f4d;
}
.col-6-2-button:hover{
	color: white;
	background-color: #e74f4d;
}

.col-6-2-ul{
	width: 100px;
	height: 20px;
	margin:10px auto 0px auto;
}
.col-6-2-ul ul li{
	list-style-type:none;
}
.col-6-2-ul ul li a {
	float: left;
	width: 15px;
	height: 15px;
	margin:5px;
	border-radius:50%;
	background-color: white;
	border:1px solid #929292;
}
.col-6-2-ul ul li a:hover{
	background-color: #929292;
}



/*以下是栏目七的内容*/
#column-7{
	width: 100%;
	min-width: 1280px;
	height: 521px;
	background-color: #f7f7f7;
    	word-spacing: -4px;/*对抗display:inline-block的间距问题*/
}
.col-7{
	display: inline-block;
	width: 425px;
	height: 521px;
    	vertical-align: top;
}
.col-7-1{
	background-color: #e74f4d;
	color: white;
}
.col-7-2{
	background-color: white;
	color: #e74f4d;
}
.col-7-text{
	width: 170px;
	height: auto;
	margin:170px auto 0px auto;
	text-align: center;
}
.col-7-button{
	width: 140px;
	padding:15px;
	margin-top:35px;
	text-align: center;
	border:1px solid white;
}
.col-7-button:hover{
	color: #e74f4d;
	background-color: white;
}
.col-7-2 .col-7-button{
	border:1px solid #e74f4d;
}
.col-7-2 .col-7-button:hover{
	color: white;
	background-color: #e74f4d;
}




/*以下是栏目八的内容*/
#column-8{
	width: 100%;
	/*height: 750px;*/
}
#column-8 p{
	font-size: 15px;
	color: #929292;
	line-height:1.5;
}
#column-8 h3,h4{
	margin-bottom: 20px;
}
.col-8-top{
	padding-top: 120px;
	text-align: center;
}
.col-8-left{
	display: inline-block;
	vertical-align:top;
	width:290px;
	padding-bottom: 150px;
	margin:70px 0px 0px 140px;
}
.col-8-left a{
	display: block;
	margin-top:-20px;
	margin-bottom: 30px;
	font-size: 13px;
	text-align: right;
}
.col-8-form{
	display: inline-block;
	vertical-align:top;
	width:600px;
	padding:20px 40px 20px 40px;
	margin:70px 0px 0px 70px;
	/*border: 1px solid  #dddddd;*/
	background-color: #f5f5f5;
}
.col-8-button{
	width: 100px;
	height: 30px;
	margin:0 auto;
	color: #929292;
	background-color: white;
	border: 0px;
}
.col-8-button:hover{
	color: white;
	background-color: #e74f4d;
}
.col-8-form form table tr td{
	width: 400px;
	height:50px;
}


/*以下是栏目九的内容*/
#column-9{
	width: 100%;
	min-width: 1280px;
	color:white;
	background-color: #32353e;
}
.col-9{
	width: 600px;
	padding: 50px 0px 50px 0px;
	margin:0 auto;
	color:white;
	text-align: center;
}
.col-9 a{
	padding:0 10px;
}
.col-9-input{
	width:400px;
	height: 30px;
	padding:5px;
	font-size: 17px;
}
.col-9-button{
	width: 60px;
	height: 44px;
	padding:5px;
	color: white;
	font-size: 17px;
	background-color: #686166;
	border:0px;
}
.col-9-button:hover{
	color: white;
	background-color: #e74f4d;
}
/*foot*/
#foot{
	width: 100%;
	min-width: 1280px;/*如果宽度上面宽度为100%，这里记得设置最小宽度。上面的100%是根据浏览器而定，和上面固定宽度出现不同宽度，会留白*/
	height: 60px;
	padding-top:30px;
	color: white;
	font-size: 15px;
	text-align: center;
	background-color: #2f3038;
}
#foot a{
	display: inline-block;
	width: 100px;
	margin-left: 800px;
	color: white;
}
