/*Grobal*/
*{
	margin:0px;
	padding: 0px;
}
body {
  	font-family: "STXihei", Arial,Microsoft YaHei , Helvetica;
  	font-size: 14px;
  	line-height: 1.428571429;
  	color: #777777;
  	background-color: #ffffff;
	background-image: url(../images/sidebar.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:0px 0px;
}
a{
	text-decoration:none;
}
a:hover,a:focus {
  	color: #2a6496;
}
a:focus {
  	outline: thin dotted #333;
  	outline: 5px auto -webkit-focus-ring-color;
  	outline-offset: -2px;
}

/*下面这个是拿来设置弹性布局，让添加的伪元素不占布局*/
*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.main h1{
	font-size:50px;
}
p{
	font-size:15px;
	line-height:30px;
}



/*布局*/
.container{
	min-width: 1024px;
	max-width:1440px;
	margin-left: auto;
	margin-right: auto;
	/*border:solid 2px black;*/
}

.img-responsive {
  	display: inline-block;
  	height: auto;
  	max-width: 100%;
  	/*border:2px solid white;*/
	border-radius:50%;
	-moz-border-radius:50%; /* Old Firefox */
}
.imgContainer{
	height: 120px;
	width: 120px;
	margin-left:auto;
	margin-right:auto;
}
.firstContent{
	height: 80px;
	clear: both;
}





/*以下是标签墙效果*/

.labelWall{
	width:450px;
	height: 300px;
	display: inline-block;
	position: relative;
}
.label{
	width:120px;
	height: 50px;
	padding:15px 10px;
	color:white;
	/*background:rgba(30, 183, 299, 0.5);
	background-color: blue;*/
	opacity: 0.5;
	position: absolute;
}
.label:hover{
	-webkit-animation-name: large;
      -webkit-animation-duration:0.3s ;
      -webkit-animation-timing-function:linear;
      -webkit-animation-fill-mode: forwards;
      z-index: 999;
}
.label-1{
	left:40px;
	top: 40px;
	background-color: #ff9900;
}
.label-2{
	left:140px;
	top: 80px;
	background-color: #a6325a;
}
.label-3{
	left:240px;
	top: 110px;
	background-color: #48a7c2;
}
.label-4{
	left:80px;
	top: 122px;
	background-color: #206fa1;
}
.label-5{
	left:180px;
	top: 150px;
	background-color: #b1c914;
}
.label-6{
	left:30px;
	top: 180px;
	background-color: #206fa1;
}
.label-7{
	left:280px;
	top: 40px;
	background-color: #48a7c2;
}
/*label动画*/
@-webkit-keyframes large{
		0%{
            	-webkit-transform:scale(1,1);
			opacity: 0.5;
		}
		40%{
            	-webkit-transform:scale(1.3,1.3);
			opacity: 0.7;
		}
		66%{
            	-webkit-transform:scale(1.15,1.15);
			opacity: 0.83;
		}
		100%{
            	-webkit-transform:scale(1.2,1.2);
			opacity: 1;
		}

	}

/*摄影图片效果*/
.picture{
	width:200px;
	height: 300px;
	display: inline-block;
	vertical-align:top;/*默认 baseline 对齐，所以要设置过*/
}
.bannerPicture{
	width: 200px;
	/*display: inline;*/
	/*vertical-align:text-top;*/
	/*float: right;*/
}

/*自我介绍文字*/
.introduces{
	margin-top: 20px;
}


/*每个容器的默认值*/
.content{
	margin-left:40px;
	margin-right: 40px;
	padding:10px 0 10px 0;
	/*width: 75%;*/
	min-height: 700px;
	border-top:solid 1px #aaaaaa;
}

/*以下是SKILL的内容*/

.main #skillContent h2{
	margin-top: 20px;
}

.web-skill{
	border-bottom: 1px solid #aaaaaa;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 700px;
	background-image: url(../images/skill.png) ;
    background-repeat:no-repeat;
	background-size:100%;padding-top:460px;
}

.skill-container-1{
	width:600px;
	/*border: solid 1px black;*/
}
.skill-menu{
	width: 150px;
	/*border: solid 1px black;*/
	display: inline-block;
}

.skill-menu li{
	list-style-type:none;
	margin-top: 20px;
	padding-bottom: 7px;
	font-size: 20px;
	text-align:right;
}
.progress-container{
	width: 440px;
	/*border: solid 1px black;*/
	display: inline-block;
	vertical-align:top;
}
.progress{
	width: 350px;
	height: 25px;
	background-color: #a9e3ff;
	border-radius:5px;
	-moz-border-radius: 5px;
	margin: 20px;
	margin-bottom: 30px;
	padding-top:5px;
}
.progress span{
	width: 65px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
}
.progress :nth-child(1){
	background-color: #7ecef4;
}
.progress :nth-child(2){
	background-color: #20bdec;
}
.progress :nth-child(3){
	background-color: #00a0e9;
}
.progress :nth-child(4){
	background-color: #0068b7;
}
.strength{
	padding-left: 190px;
}
.strength ul li{
	font-size: 18px;
	width: 70px;
	display: inline-block;
	float: left;
}
/*.progress::after{
	content: '222';
	background-color: blue;
	width: 200px;
	height: 200px;
}
.progress::after{
	content: '';
	position: absolute;
	bottom:100%;
	left:10%;
	width: 200px;
	height: 200px;
	background: url(../images/wechat.jpg) no-repeat center center;
	background-size: 100%;
	border-radius:10px;
	-moz-border-radius:10px; 
	 -webkit-transform-origin:left bottom;
      -webkit-transform:translateX(-0px) translateY(0px) scale(0) rotate(181deg);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
}
.progress:hover .progress::after{
      -webkit-transform:translateX(0px) translateY(0px) scale(1) rotate(360deg);
}*/
/**/


/*以下是圆形进度条的实现*/
.soft-skill{
	padding-top:100px;
	width: 680px;
	height: 400px;
	/*background-color: #111111;*/
}
.soft-container{
	width: 150px;
	height: 400px;
	/*background-color: #999999;*/
	margin-right: 15px;
	display: inline-block;
}
.soft-progress{
	width: 150px;
	height: 150px;
	/*background-color: #bbbbbb;*/
	border-radius:50%;
	-moz-border-radius:50%;
	position: relative;
}
.soft-progress img{
	position: absolute;
	left: 50%;
	margin-left: -32px;
	top: 50%;
	margin-top:-35px;
}
.soft-container h2{
	text-align: center;
}
.psBg{
	background-color: #28273b;
}
.aiBg{
	background-color: #5d4327;
}
.pptBg{
	background-color: #eaeaea;
}
.wordBg{
	background-color: #eaeaea;
}




/*以下是work内容*/
.workContainer{
	margin-top: 70px;
	width: 650px;
}
.wordColumn{
	display: inline-block;
	vertical-align:top;
	width:200px;
	margin-right: 10px;
}
.wordColumn img {
  	display: inline-block;
  	height: auto;
  	max-width: 100%;
}
.box{
	margin-bottom: 20px;
	padding: 12px 8px 20px 8px;
       /*box-shadow:-5px -5px 8px black;*/
	background-color: #edf3f8;
}
.box span{
	color: #a8a8a8;
}